<?xml version="1.0"?>
<!--
  Techman robot gui bringup.
  Start tm_gui and tm_driver node 
  Usage:
    tm_gui.launch robot_ip:=<value>
  Example:
    roslaunch tm_inspect tm_gui.launch robot_ip:=192.168.10.2
-->
<launch>

  <node pkg="tm_inspect" name="tm_gui" type="robot_ui" output="screen"/>  
  
  <!-- tm driver -->
  <node pkg="tm_driver" name="tm_driver" type="tm_driver" output="screen">
    <param name="robot_ip_address" type="str" value="$(arg robot_ip)" />
  </node>

</launch>
